.caseBataille{
	width:20px;
	height:20px;
	text-align:center;
	font-size: 100%;
	background-color: #ffffff;
}
.caseBataille2{
	width:20px;
	height:20px;
	text-align:center;
	background-color: red;
}
.test1{
	font-size: 100%;
}
.test2{
	font-size: 200%;
}
#plateau1{
	display: inline-block;
}

#plateau2{
	display: inline-block;
	margin-left: 50%;
}